body{
  
}

h1{
  color: grey;
  font-weight: bold;
  text-align: center;
  padding: 2em;
  
}

figure {
  background-color: darkgrey;
  
}

.gallery{
  display: flex;
  flex-direction: columns;
  grid-template-columns: repeat(4, 1fr);
  
}


.gallery img{
  display: flex;
  width: 25em;
  height: 25rem;
  object-fit: cover;
}

figcaption{
  text-align: center;
  color: green;
  font-size: 2em;
}

p{
  text-align: center;
  font-size: 1.5em;
}

.template{
  display: flex;
}

